@page "/controltests"

<h1>Page Header</h1>

<div>
    <SfCard CssClass="my-card">
        <CardHeader>
            Header Text
        </CardHeader>
        <CardContent>
            Content Text
        </CardContent>
    </SfCard>
</div>
