@page "/countries"

<div class="container">
    <div class="row g-2">
        <div class="col p-2">
            <SfCard>
                <CardHeader Title="Countries" />
                <CardContent>
                    <SfAutoComplete TItem="Country"
                                    TValue="Country"
                                    DataSource="@ViewModel?.Countries"
                                    Placeholder="Select a country"
                                    Highlight="true"
                                    @bind-Value="@ViewModel!.SelectedCountry">
                        <AutoCompleteTemplates TItem="Country">
                            <NoRecordsTemplate>
                                <span class='norecord'>No countries found</span>
                            </NoRecordsTemplate>
                        </AutoCompleteTemplates>
                        <AutoCompleteFieldSettings Value="Name" />
                    </SfAutoComplete>
                    <SfMaps Width="100%">
                        @if (ViewModel?.SelectedCountry != null)
                        {
                            <MapsCenterPosition Latitude="@((double)ViewModel.SelectedCountry.Latitude)" Longitude="@((double)ViewModel.SelectedCountry.Longitude)" />
                        }
                        <MapsZoomSettings Enable="true" EnablePanning="true" MaxZoom="20" ZoomFactor="5"></MapsZoomSettings>
                        <MapsLayers>
                            <MapsLayer UrlTemplate="https://tile.openstreetmap.org/level/tileX/tileY.png" TValue="string">
                            </MapsLayer>
                        </MapsLayers>
                    </SfMaps>
                </CardContent>
            </SfCard>
        </div>
        <div class="col p-2">
            <SfCard>
                <CardHeader Title="Selected Country's Flag'" />
                <CardContent>
                    @if (ViewModel?.SelectedCountry != null)
                    {
                        <div class="flag-div">
                            <img src="@ViewModel.SelectedCountry.FlagSvg" />
                        </div>
                    }
                </CardContent>
            </SfCard>
        </div>
    </div>
</div>
