@page "/draganddrop"

<h3>Drag and Drop</h3>

<div class="container dd-row">
    <div class="row">
        <div id="1" class="col dd-item draggable" draggable="true">
            <div style="background-color: aquamarine">
                <label for="textBox1">Column 1</label>
                <SfTextBox ID="textBox1"></SfTextBox>
            </div>
            <button @onclick="@(() => this.OnButtonClicked("Button 1"))">Click</button>
        </div>
        <div id="2" class="col dd-item draggable" draggable="true">
            <div style="background-color: burlywood">
                <label for="textBox2">Column 2</label>
                <SfTextBox ID="textBox2"></SfTextBox>
            </div>
            <button @onclick="@(() => this.OnButtonClicked("Button 2"))">Click</button>
        </div>
        <div id="3" class="col dd-item draggable" draggable="true">
            <div style="background-color: cornflowerblue">
                <label for="textBox3">Column 3</label>
                <SfTextBox ID="textBox3"></SfTextBox>
            </div>
            <button @onclick="@(() => this.OnButtonClicked("Button 3"))">Click</button>
        </div>
    </div>
</div>
<div>
    <input type="text" @bind-value="@this.message"/>
</div>
