
<div>
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> <span class="displayText">Contracts and Jobs</span>
            </NavLink>
        </li>
    </ul>
    <div class="separator"></div>
    <div class="scroller">
        <ul class="nav flex-column">
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="addcontact">
                    <span aria-hidden="true"><SfIcon Name="IconName.People"></SfIcon></span><span class="displayText" style="margin-left:5px">Add Contact</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="autocomplete-features">
                    <span class="syncfusion-blazor-icons syncfusion-blazor-icon-autocomplete" aria-hidden="true"></span><span class="displayText" style="margin-left:5px">AutoComplete</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="dashboard">
                    <span aria-hidden="true"><SfIcon Name="IconName.Shapes"></SfIcon></span><span class="displayText" style="margin-left:5px">Dashboard</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="controltests">
                    <span aria-hidden="true"><SfIcon Name="IconName.Bullet3"></SfIcon></span><span class="displayText" style="margin-left:5px">Control Tests</span>
                </NavLink>
            </li>
            <li class="nav-item px-3">
                <NavLink class="nav-link" href="map">
                    <span aria-hidden="true"><SfIcon Name="IconName.TableNested"></SfIcon></span><span class="displayText" style="margin-left:5px">Map</span>
                </NavLink>
            </li>

        </ul>
    </div>
</div>
<style>
    .scroller {
        height: calc(100vh - 160px) !important;
        overflow-y: auto;
        width: 287px;
    }

        .scroller::-webkit-scrollbar, scrollbar-thumb
        .scroller::-webkit-scrollbar-thumb {
            width: 8px;
            height: 110px;
            border-radius: 4px;
            position: center;
        }

        .scroller::-webkit-scrollbar-thumb {
            box-shadow: inset 0 0 0 10px #313C75;
            border-radius: 4px;
        }

        .scroller::-webkit-scrollbar-track {
            width: 28px;
        }

    .separator {
        border: 1px solid #FFFFFF;
        opacity: 0.14;
        width: 247px;
        margin: 1rem;
        margin-top: 0px;
    }
</style>

